/* Estilo para el Navbar en su conjunto */
.navbar {
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0; /* Alinea el navbar en la parte superior */
  left: 0; /* Alinea el navbar en la parte izquierda */
  width: 100%; /* Asegura que el navbar ocupe todo el ancho */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 0 100px;
  background-color: #000; /* Color de fondo negro */
  z-index: 1000; /* Asegura que el navbar esté encima de otros elementos */
}

/* Estilo para el logo */
.logo-link .logo {
  width: 142px;
  height: 42px;
}

/* Estilo para los enlaces del navbar */
.nav-links {
  display: flex;
  gap: 42px;
}

.nav-link {
  color: #F6F6F6; /* Color de texto blanco */
  font-size: 14px; /* Tamaño de fuente */
  text-align: center; /* Alineación centrada */
  text-decoration: none; /* Elimina el subrayado del enlace */
  position: relative; /* Necesario para el subrayado animado */
  padding-bottom: 5px; /* Espacio para el subrayado */
}

.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #E0E0E0; /* Color del subrayado */
  transition: width 0.3s ease; /* Transición suave */
}

.nav-link:hover::after {
  width: 100%; /* Expande el subrayado al 100% del ancho del enlace */
}

.nav-link:hover {
  color: #FFD700; /* Cambia el color del texto en hover, por ejemplo, dorado */
  background-color: rgba(255, 255, 255, 0.1); /* Fondo de color muy claro para el efecto de hover */
}

/* Estilo para los iconos del navbar */
.nav-icons a {
  margin-left: 20px;
}

.nav-icon {
  width: 24px;
  height: 24px;
}
