.favorites-container {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .heart-icon {
    transition: fill 0.3s ease, transform 0.3s ease;
  }
  
  .heart-icon.favorite {
    fill: #e63946;
    transform: scale(1.2); /* Aumenta el tamaño cuando está marcado como favorito */
    animation: heartbeat 0.6s ease;
  }
  
  /* Animación de latido */
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.3);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  